@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("./fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Thin.woff2") format("woff2"), url("./fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.woff2") format("woff2"), url("./fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.wolff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Thin.woff2") format("woff2"), url("./fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2"), url("./fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 19.5px;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
}

.header__content {
  background: url("../images/icon&logo/Homepage/Homepage/Assets/Symbol.svg") no-repeat top center, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
  position: relative;
}

.header__content-shadow {
  position: absolute;
  background: #CACADB;
  height: 10px;
  left: 1%;
  bottom: -10px;
  z-index: 2;
  width: 98%;
  border-radius: 0px 0px 12px 12px;
}

.header__shadow-shadow {
  position: absolute;
  background: #E7E7F2;
  height: 10px;
  left: 1%;
  bottom: -10px;
  z-index: 3;
  width: 98%;
  border-radius: 0px 0px 12px 12px;
}

.header__section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 116px;
}

.header__section-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.header__section-contacts > div {
  margin-right: 16px;
}

.header__section-contacts > div:last-child {
  margin-right: 0px;
}

.header__section-contacts > div > a {
  color: #fff;
}

.header__contacts-lang {
  position: relative;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  font-family: "Montserrat";
}

.header__contacts-lang > a {
  padding: 5px 7px;
  border-radius: 8px;
  transition: background-color 1s;
}

.header__contacts-lang > a:hover {
  background-color: #F0145A;
}

.header__contacts-lang::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  right: -11px;
  top: 6px;
  z-index: 10;
}

.header__contacts-map {
  position: relative;
}

.header__contacts-map::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  right: -11px;
  top: 6px;
  z-index: 10;
}

.header__contacts-tel {
  position: relative;
  font-weight: 700;
}

.header__contacts-tel::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  right: -11px;
  top: 6px;
  z-index: 10;
}

.header__section-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__section-nav > div {
  margin-right: 15px;
  font-weight: 700;
}

.header__section-nav > div:last-child {
  margin-right: 0px;
}

.header__section-nav > div > a {
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.about__tagline {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  margin-top: 261px;
  color: #fff;
}

.about__backgroundMainImage {
  position: absolute;
  top: -117px;
  left: 25%;
}

.about__scroll-button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: flex;
  margin: 305px auto 90px;
}

.experience {
  display: flex;
  justify-content: space-between;
  gap: 124px;
  margin-bottom: 101px;
}

.experience__list {
  position: relative;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.experience__list > div {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  margin-bottom: 30px;
  color: #B3B3BA;
}

.experience__list > div:first-child {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience__list > div:last-child {
  margin-bottom: 0px;
}

.experience__list::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 303px;
  background: rgba(255, 255, 255, 0.3);
  right: -62px;
}

.experience__descr {
  flex: 6;
}

.experience__descr-heading {
  margin: 30px 0;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
}

.experience__descr-text {
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #fff;
}

.services__info > a {
  color: #F0145A;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.services__heading {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
}

.services__talents-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 60px;
}

.services__talents-item {
  width: 30.33%;
  margin-bottom: 87px;
}

.services__talents-item > img {
  margin-bottom: 30px;
}

.services__talents-item-heading {
  color: #24A3FF;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
}

.services__talents-item-text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.team {
  margin-top: 80px;
  position: relative;
}
.team__container {
  display: flex;
  background: #F5F5FA;
  border-radius: 12px;
}
.team__container-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
}
.team__container-heading {
  margin-bottom: 5px;
}
.team__container-heading a {
  color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.team__container-text {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 30px;
}
.team__container-name {
  color: #B3B3BA;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
}
.team__container-subname {
  color: #B3B3BA;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.team__nav-dots {
  width: 16px;
  height: 16px;
  background-color: #a0c7db;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.team__nav-dots::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
  position: absolute;
  bottom: 0;
  right: 23px;
}

.team__nav-dots::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a0c7db;
  position: absolute;
  bottom: 0;
  left: 23px;
}

.partners__heading {
  margin: 60px auto 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 210px;
}

.partners__container {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  border-radius: 12px;
  margin-bottom: 60px;
}
.partners__container .hillel {
  background-color: #1C4280;
}
.partners__container .wanabiz {
  background: #143646;
}
.partners__container .tapgerine {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}
.partners__container .look3d {
  background: #9E4DC3;
}
.partners__container .orangegear {
  background: #FD9339;
}
.partners__container .adteligent {
  background: #E2E2E4;
}
.partners__container .clickky {
  background: #C71C36;
}
.partners__container .ecolease {
  background: #DCF3F9;
}
.partners__container .infatek {
  background: #EAEAEA;
}
.partners__container .citypark {
  background: #282240;
}
.partners__container .artprintstudio {
  background: #1D4568;
}
.partners__container .ultimatecard {
  background: #000000;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 25%;
  height: 120px;
}

.recommended {
  background: #F5F5FA;
  padding: 30px 0;
  box-sizing: border-box;
}
.recommended__link {
  text-transform: uppercase;
  color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.recommended__heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}
.recommended__parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}
.recommended .div1 {
  grid-area: 1/1/2/2;
}
.recommended .div2 {
  grid-area: 1/2/2/3;
}
.recommended .div3 {
  grid-area: 1/3/2/4;
}
.recommended .item {
  background-color: #ffffff;
}
.recommended .item__image img {
  width: 513px;
}
.recommended .item__content {
  padding: 30px;
}
.recommended .item__heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  margin-top: 15px;
}
.recommended .item__date {
  color: #B3B3BA;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: 15px;
  position: relative;
}
.recommended .item__date::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #E6E6F0;
  position: absolute;
  bottom: -19px;
  left: 0;
}
.recommended .item__text {
  margin-top: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.footer__container {
  position: relative;
}
.footer__container:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #E6E6F0;
  top: -28px;
}
.footer__map {
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin-right: 26px;
  color: #323264;
}
.footer__address::after {
  content: "";
  width: 6px;
  height: 6px;
  background: gray;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: -14px;
}
.footer__onmap a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #24A3FF;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__leftside {
  display: flex;
}
.footer__rightside {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: gray;
  opacity: 0.5;
}
.footer__contacts {
  display: flex;
  align-items: center;
  margin-top: 21px;
}
.footer .down + .down {
  margin-left: 26px;
}
.footer .down {
  position: relative;
}
.footer .down:after {
  content: "";
  width: 6px;
  height: 6px;
  background: gray;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  right: -14px;
}
.footer__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.footer__email {
  color: #24A3FF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 26px;
}

/* Desktop SD */
@media screen and (max-width: 1919px) {
  /* ... */
}
/* Tablet HD */
@media screen and (max-width: 1440px) {
  /* ... */
  .container {
    max-width: 1320px;
    margin: 0 auto;
  }

  .services {
    margin-top: 74px;
  }
  .services__info a {
    color: #24A3FF;
  }
  .services__talents-item {
    width: 30%;
  }

  .important_container_partners {
    max-width: 1440px;
    margin: 0 auto;
  }

  .partners__container {
    border-radius: 0px;
    margin-bottom: 0;
  }

  .item__image img {
    width: 420px !important;
  }

  .recommended__parent {
    grid-column-gap: 30px !important;
  }
}
/* Tablet SD */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 903px;
  }

  .experience__list {
    flex: none;
  }

  .experience__descr-text {
    opacity: 0.5;
  }
}
.services__talents-item {
  width: 28%;
}

.services__talents-item-text {
  opacity: 0.5;
}

.team__container-person {
  height: 528px;
  background: url("../images/Homepage/image.png");
  object-fit: cover;
  flex: 6;
}
.team__container-person img {
  display: none;
}

.team__container-info {
  flex: 7;
}

.important_container_partners {
  max-width: 1024px;
  margin: 0 auto;
}

.item__image img {
  object-fit: cover;
  width: 280px !important;
}

.recommended__parent {
  grid-column-gap: 30px !important;
}

/* Mobile */
@media screen and (max-width: 767px) {
  /* ... */
  .container {
    max-width: 648px;
    margin: 0 auto;
  }

  .experience {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: auto;
  }
  .experience__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .experience__list:after {
    right: 0;
    bottom: -60px;
    width: 100%;
    height: 4px;
  }
  .experience__list-item {
    margin: 0 30px 0 0;
    text-align: center;
    white-space: nowrap;
  }

  .services__talents-item {
    width: 45%;
  }
}
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
