@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("./fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Thin.woff2") format("woff2"), url("./fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.woff2") format("woff2"), url("./fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.wolff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Thin.woff2") format("woff2"), url("./fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2"), url("./fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 19.5px;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
}

.header__content {
  background: url("../images/icon&logo/Homepage/Homepage/Assets/Symbol.svg") no-repeat top center, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
  position: relative;
}

.header__content-shadow {
  position: absolute;
  background: #CACADB;
  height: 10px;
  left: 1%;
  bottom: -10px;
  z-index: 2;
  width: 98%;
  border-radius: 0px 0px 12px 12px;
}

.header__shadow-shadow {
  position: absolute;
  background: #E7E7F2;
  height: 10px;
  left: 1%;
  bottom: -10px;
  z-index: 3;
  width: 98%;
  border-radius: 0px 0px 12px 12px;
}

.header__section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 116px;
}

.header__section-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.header__section-contacts > div {
  margin-right: 16px;
}

.header__section-contacts > div:last-child {
  margin-right: 0px;
}

.header__section-contacts > div > a {
  color: #fff;
}

.header__contacts-lang {
  position: relative;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  font-family: "Montserrat";
}

.header__contacts-lang > a {
  padding: 5px 7px;
  border-radius: 8px;
  transition: background-color 1s;
}

.header__contacts-lang > a:hover {
  background-color: #F0145A;
}

.header__contacts-lang::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  right: -11px;
  top: 6px;
  z-index: 10;
}

.header__contacts-map {
  position: relative;
}

.header__contacts-map::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  right: -11px;
  top: 6px;
  z-index: 10;
}

.header__contacts-tel {
  position: relative;
  font-weight: 700;
}

.header__contacts-tel::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  right: -11px;
  top: 6px;
  z-index: 10;
}

.header__section-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__section-nav > div {
  margin-right: 15px;
  font-weight: 700;
}

.header__section-nav > div:last-child {
  margin-right: 0px;
}

.header__section-nav > div > a {
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.about__tagline {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  margin-top: 261px;
  color: #fff;
}

.about__backgroundMainImage {
  position: absolute;
  top: -117px;
  left: 25%;
}

.about__scroll-button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: flex;
  margin: 305px auto 90px;
}

.experience {
  display: flex;
  justify-content: space-between;
  gap: 124px;
  margin-bottom: 101px;
}

.experience__list {
  position: relative;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.experience__list > div {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  margin-bottom: 30px;
  color: #B3B3BA;
}

.experience__list > div:first-child {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience__list > div:last-child {
  margin-bottom: 0px;
}

.experience__list::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 303px;
  background: rgba(255, 255, 255, 0.3);
  right: -62px;
}

.experience__descr {
  flex: 6;
}

.experience__descr-heading {
  margin: 30px 0;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
}

.experience__descr-text {
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #fff;
}

.services__info > a {
  color: #F0145A;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.services__heading {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
}

.services__talents-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 60px;
}

.services__talents-item {
  width: 30.33%;
  margin-bottom: 87px;
}

.services__talents-item > img {
  margin-bottom: 30px;
}

.services__talents-item-heading {
  color: #24A3FF;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
}

.services__talents-item-text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.team {
  margin-top: 80px;
  position: relative;
}
.team__container {
  display: flex;
  background: #F5F5FA;
  border-radius: 12px;
}
.team__container-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
}
.team__container-heading {
  margin-bottom: 5px;
}
.team__container-heading a {
  color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.team__container-text {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 30px;
}
.team__container-name {
  color: #B3B3BA;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
}
.team__container-subname {
  color: #B3B3BA;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.team__nav-dots {
  width: 16px;
  height: 16px;
  background-color: #a0c7db;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.team__nav-dots::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
  position: absolute;
  bottom: 0;
  right: 23px;
}

.team__nav-dots::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a0c7db;
  position: absolute;
  bottom: 0;
  left: 23px;
}

.partners__heading {
  margin: 60px auto 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 210px;
}

.partners__container {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  border-radius: 12px;
  margin-bottom: 60px;
}
.partners__container .hillel {
  background-color: #1C4280;
}
.partners__container .wanabiz {
  background: #143646;
}
.partners__container .tapgerine {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}
.partners__container .look3d {
  background: #9E4DC3;
}
.partners__container .orangegear {
  background: #FD9339;
}
.partners__container .adteligent {
  background: #E2E2E4;
}
.partners__container .clickky {
  background: #C71C36;
}
.partners__container .ecolease {
  background: #DCF3F9;
}
.partners__container .infatek {
  background: #EAEAEA;
}
.partners__container .citypark {
  background: #282240;
}
.partners__container .artprintstudio {
  background: #1D4568;
}
.partners__container .ultimatecard {
  background: #000000;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 25%;
  height: 120px;
}

.recommended {
  background: #F5F5FA;
  padding: 30px 0;
  box-sizing: border-box;
}
.recommended__link {
  text-transform: uppercase;
  color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.recommended__heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}
.recommended__parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}
.recommended .div1 {
  grid-area: 1/1/2/2;
}
.recommended .div2 {
  grid-area: 1/2/2/3;
}
.recommended .div3 {
  grid-area: 1/3/2/4;
}
.recommended .item {
  background-color: #ffffff;
}
.recommended .item__content {
  padding: 30px;
}
.recommended .item__heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  margin-top: 15px;
}
.recommended .item__date {
  color: #B3B3BA;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: 15px;
  position: relative;
}
.recommended .item__date::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #E6E6F0;
  position: absolute;
  bottom: -19px;
  left: 0;
}
.recommended .item__text {
  margin-top: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.footer__container {
  position: relative;
}
.footer__container:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #E6E6F0;
  top: -28px;
}
.footer__map {
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin-right: 26px;
  color: #323264;
}
.footer__address::after {
  content: "";
  width: 6px;
  height: 6px;
  background: gray;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: -14px;
}
.footer__onmap a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #24A3FF;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__leftside {
  display: flex;
}
.footer__rightside {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: gray;
  opacity: 0.5;
}
.footer__contacts {
  display: flex;
  align-items: center;
  margin-top: 21px;
}
.footer .down + .down {
  margin-left: 26px;
}
.footer .down {
  position: relative;
}
.footer .down:after {
  content: "";
  width: 6px;
  height: 6px;
  background: gray;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  right: -14px;
}
.footer__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.footer__email {
  color: #24A3FF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 26px;
}

.important_container_partners {
  max-width: 1720px !important;
}

.container {
  position: relative;
}

.burger-menu {
  display: none;
}

.close {
  display: none;
}

.header-botoom__nav {
  display: none;
}

/* Desktop SD */
@media screen and (max-width: 1919px) {
  /* ... */
  .important_container_partners {
    max-width: 1720px !important;
  }
}
/* Tablet HD */
@media screen and (max-width: 1440px) {
  /* ... */
  .container {
    max-width: 1320px;
    margin: 0 auto;
  }

  .services {
    margin-top: 74px;
  }
  .services__info a {
    color: #24A3FF;
  }
  .services__talents-item {
    width: 30%;
  }

  .important_container_partners {
    max-width: 1440px;
    margin: 0 auto;
  }

  .partners__container {
    border-radius: 0px;
    margin-bottom: 0;
  }

  .item__image img {
    width: 420px !important;
  }

  .recommended__parent {
    grid-column-gap: 30px !important;
  }

  .team__container-person {
    min-heightheight: 346px;
    min-width: 400px;
  }
  .team__container-person img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
/* Tablet SD */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 903px;
  }

  .experience__list {
    flex: none;
  }

  .experience__descr-text {
    opacity: 0.5;
  }

  .services__talents-item {
    width: 28%;
  }

  .services__talents-item-text {
    opacity: 0.5;
  }

  .team__container-info {
    flex: 7;
  }

  .important_container_partners {
    max-width: 1024px;
    margin: 0 auto;
  }

  .item__image img {
    object-fit: cover;
    width: 280px !important;
  }

  .recommended__parent {
    grid-column-gap: 30px !important;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  /* ... */
  .container {
    max-width: 648px;
    margin: 0 auto;
  }

  .experience {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: auto;
  }
  .experience__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .experience__list:after {
    right: 0;
    bottom: -60px;
    width: 100%;
    height: 4px;
  }
  .experience__list-item {
    margin: 0 30px 0 0;
    text-align: center;
    white-space: nowrap;
  }

  .services__talents-item {
    width: 45%;
  }

  .team__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
  }

  .partners__item {
    width: 33.3%;
  }

  .recommended__parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: 1fr auto !important;
  }

  .div1 {
    grid-area: 1/1/2/2 !important;
  }
  .div1 .item__image {
    min-width: 309px;
    min-height: 200px;
  }
  .div1 .item__image img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }

  .div2 {
    grid-area: 1/2/2/3 !important;
  }
  .div2 .item__image {
    min-width: 309px;
    min-height: 200px;
  }
  .div2 .item__image img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }

  .div3 {
    grid-area: 2/1/3/3 !important;
  }
  .div3 .item__image {
    min-width: 650px;
    min-height: 200px;
  }
  .div3 .item__image img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }

  .header__section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding-top: 60px;
  }

  .header__section-nav {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 330%;
  }

  .header__right-section {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 396px) {
  .container {
    max-width: 315px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .burger-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
  }

  .burger-menu__img {
    height: 100%;
    width: 100%;
  }

  .qqq {
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
  }

  .close {
    display: block;
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
  }

  .top-section__location {
    font-size: 16px;
    line-height: 19px;
  }

  .top-section__map {
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
  }

  .rigth-side {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    position: absolute;
    top: 420%;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .header-nav__effect {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 59%;
    height: 100%;
    width: 100%;
    background: #000000;
    z-index: 100;
    opacity: 0.8;
    overflow-y: auto;
    z-index: 55;
    transform: translateY(-50%);
    transition: transform 0.5s ease-out;
  }

  .open {
    transform: translateY(0%);
  }

  .header__section-nav {
    display: none;
  }

  .header__section-container {
    padding-top: 10px;
  }

  .header__right-section {
    width: 100%;
    justify-content: space-between;
  }

  .header__contacts-tel {
    margin-left: auto;
  }

  .header__contacts-item {
    font-size: 12px;
    line-height: 15px;
  }

  .header__contacts-lang {
    margin: 0;
    display: flex;
  }

  .header__contacts-lang:after {
    content: "";
    width: 0;
    height: 0;
  }

  .header__contacts-tel:after {
    content: "";
    width: 0;
    height: 0;
  }

  .header__contacts-map {
    display: none;
  }

  .header__contacts-facebook {
    display: none;
  }

  :root {
    --header-margin: 56px;
    --item-width: 50%;
  }

  /* -------HEADER--------  */
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }

  .header {
    flex-direction: column-reverse;
  }

  .haeder-top__nav > svg {
    display: none;
  }

  .top-nav__location {
    display: none;
  }

  .header-nav {
    margin-top: 25px;
    flex-direction: row;
    display: block;
  }

  .header-logo {
    margin: 13px 0 0 0;
  }

  .top-nav__languages {
    margin-right: auto;
  }

  .top-nav__languages > div {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
  }

  .top-nav__phone > a {
    font-size: 16px;
    line-height: 19px;
    color: white;
  }

  .header-botoom__nav {
    display: flex;
    max-height: 100%;
    overflow-y: auto;
    flex-direction: column;
    align-items: stretch;
    gap: 11px;
    margin-top: 0;
    padding: 64px 20px 20px;
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 12px 12px 0px 0px;
    background-color: #fff;
    transition: transform 0.5s ease-out;
    z-index: 99;
  }

  .qqq {
    display: flex;
    flex-direction: column;
    transform: translateY(-80%);
    height: 70vh;
  }

  .bottom-nav__item {
    padding: 8px;
    background: #f5f5fa;
    border-radius: 12px;
    color: #24a3ff;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
  }

  .bottom-nav__item + .bottom-nav__item {
    margin-left: 0px;
  }

  .close {
    display: block;
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
  }

  .logo-top {
    position: relative;
    align-items: center;
  }

  .burger-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 60px;
    right: 0;
  }

  .burger-menu__img {
    height: 100%;
    width: 100%;
  }

  /* END HEADER */
  /* ---------------------SERVICES------------- */
  .rigth-side {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    position: absolute;
    top: 420%;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .header-nav__effect {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 59%;
    height: 100%;
    width: 100%;
    background: #000000;
    z-index: 100;
    opacity: 0.8;
    overflow-y: auto;
    z-index: 55;
    transform: translateY(-50%);
    transition: transform 0.5s ease-out;
  }

  .open {
    transform: translateY(0%);
  }

  .about__tagline {
    text-align: center;
  }

  .experience__descr-heading {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
  }

  .experience__list-item {
    margin-bottom: 0 !important;
  }

  .services__heading {
    font-size: 30px;
  }

  .services__talents-container {
    column-gap: 0;
  }

  .services__talents-item {
    width: 100%;
  }

  .team__container-person img {
    width: 315px;
    height: 500px;
    border-radius: 12px;
  }

  .team__container {
    max-width: 315px;
    margin: 0 auto;
  }

  .team__container-text {
    font-size: 30px;
    line-height: 35px;
  }

  .partners__item {
    width: 100%;
  }

  .recommended__parent {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .div1 {
    grid-area: 1/1/2/2 !important;
  }

  .div2 {
    grid-area: 2/1/3/2 !important;
  }

  .div3 {
    grid-area: 3/1/4/2 !important;
  }

  .item__image {
    width: 335px;
    height: 200px;
  }
  .item__image img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }

  .item__content {
    width: 285px;
  }

  .footer__map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__rightside {
    display: none;
  }

  .footer__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer__address::after {
    content: "";
    display: none;
  }

  .footer__address {
    margin: 0 !important;
  }

  .down::after {
    content: "";
    display: none;
  }

  .down {
    margin: 0 !important;
  }

  .footer__phone {
    margin: 10px 0 0 0 !important;
  }

  .footer__email {
    margin: 10px 0 0 0;
  }

  .footer__onmap {
    margin-top: 10px;
  }

  .header__section > .container {
    padding: 0px !important;
  }
}
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
